*:root{
    --verde:#C4FE76;
    --negro:#000000;
    --gris:#272727;
    --blanco:#FFFFFF;
    --rojo: #FF0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--negro);
}

 /* encabezado */
.encabezadoFather{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 0 10px;
}

.encabezadoFather img{
    width: 120px;
}

.navegacion{
    display: flex;
    gap: 20px;
}

.navegacion li{
    font-family: 'Montserrat';
    font-size: 12px;
    color: var(--blanco);
    white-space: nowrap;
}

.navegacion li:nth-child(1),
.navegacion li:nth-child(2),
.navegacion li:nth-child(3),
.navegacion li:nth-child(4),
.navegacion li:nth-child(5) {
    display: none;
}

.btnHablemos{
    border: 1px solid var(--verde);
    border-radius: 5px;
    padding: 5px;
}

.btnHablemos:hover{
    border: 1px solid var(--blanco);
    background-color: var(--verde);
    color: var(--negro);
}
/* fin de encabezado */

/* Sección Presentación */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    gap: 10px;
    padding: 0 10px;
}

.titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo h1{
    font-family:'Poppins';
    font-weight: bold;
    font-size: 25px;
    color: var(--blanco);
    text-align: center;
}

.titulo h2{
    font-family:'Poppins';
    font-size: 15px;
    color: var(--blanco);
    text-align: center;
}

.logoSimple{
    width: 180px;
}
/* Fin sección Presentación */

/* Sección Sobre Mi */
.descripcionFather{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.descripcionImg{
    width: 250px;
}

.textFather{
    background-color: var(--gris);
    width: 100%;
    height: 500px;
}

.descripcionText{
    color: var(--blanco);
    line-height: 1.4;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 60px 0 30px;
}

.subDescripcionText{
    color: var(--blanco);
    line-height: 1.4;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding:  0 20px;
}
/*  Fin sección Sobre Mi */

/* Sección Skills & Hobbies*/
.titleSkills{
    color: var(--verde);
    font-family: 'Poppins';
    font-size: 20px;
    position: relative;
    bottom: 120px;
    text-align: center;
}

.skillsFather{
    width: 80%;
    height: auto;
    position: relative;
    bottom: 100px;
    left: 10%;
    display: flex;
    flex-flow: row wrap;
}

.cuadroSkillsHobbies{
    width: 50%;
    height: auto;
    background-color: var(--negro);
    border: 2px solid var(--gris);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
}

.cuadroSkillsHobbies i{
    color: var(--verde);
    font-size: 30px;
}

.cuadroSkillsHobbies h2{
    color: var(--blanco);
    font-family: 'Montserrat';
}

.cuadroSkillsHobbies:nth-child(1){
    border-radius: 10px 0 0 0;
}

.cuadroSkillsHobbies:nth-child(2){
    border-radius: 0 10px 0 0;
}

.cuadroSkillsHobbies:nth-child(3){
    border-radius: 0 0 0 10px;
}

.cuadroSkillsHobbies:nth-child(4){
    border-radius: 0 0 10px 0;
}

.margen{
    margin: 50px 0;
}

.titleHobbies{
    color: var(--verde);
    font-family: 'Poppins';
    font-size: 20px;
    position: relative;
    bottom: 20px;
    text-align: center;
}

.hobbiesFather{
    width: 80%;
    height: auto;
    position: relative;
    left: 10%;
    display: flex;
    flex-flow: row wrap;
}

.cuadroSkillsHobbies:hover{
    background-color: var(--gris);
    border: 2px solid var(--blanco);
}
/* Fin de Sección Skills & Hobbies*/

/* Sección 5 proyectos */
.titleProyectos{
    color: var(--verde);
    font-family: 'Poppins';
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

.padre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card1{
    width: 303px;
    height: 250px;
    border-radius: 20px;
    background-image: url(../img/Encriptador.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:local;
}

.card2{
    width: 303px;
    height: 250px;
    border-radius: 20px;
    background-image: url(../img/Conversor.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:local;
}

.card3{
    width: 303px;
    height: 250px;
    border-radius: 20px;
    background-color: var(--gris);
}

.card4{
    width: 303px;
    height: 250px;
    border-radius: 20px;
    background-color: var(--gris);
}

.card5{
    width: 303px;
    height: 250px;
    border-radius: 20px;
    background-color: var(--gris);
}

.titleCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}

.titleCard h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: var(--blanco);
    margin-top: 60px;
}

.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: var(--blanco);

}

.card1:hover .subtitle,
.card2:hover .subtitle,
.card3:hover .subtitle,
.card4:hover .subtitle,
.card5:hover .subtitle{
    transform: translateY(-50px);
    transition: transform 0.3s ease;
}

.card1:hover .titleCard h1,
.card2:hover .titleCard h1,
.card3:hover .titleCard h1,
.card4:hover .titleCard h1,
.card5:hover .titleCard h1{
    transform: translateY(-50px);
    transition: transform 0.3s ease;
}

.details{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    color: var(--blanco);
    text-align: center;
    opacity: 0;
}

.card1:hover .details,
.card2:hover .details,
.card3:hover .details,
.card4:hover .details,
.card5:hover .details{
    opacity: 1;
    transform: translateY(-50px);
    transition: transform 0.3s ease;
}

.btnRepoDemo{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    opacity:0;
}

.btnRepoDemo span{
    font-family: 'Poppins', sans-serif;
    border: 1px solid var(--verde);
    background-color: var(--negro);
    color: var(--blanco);
    border-radius:5px ;
    padding: 5px;
}

span:hover{
    color: var(--negro);
    background-color: var(--verde);
    border: 1px solid var(--blanco);
}

.card1:hover .btnRepoDemo,
.card2:hover .btnRepoDemo,
.card3:hover .btnRepoDemo,
.card4:hover .btnRepoDemo,
.card5:hover .btnRepoDemo{
    opacity: 1;
    transform: translateY(-40px);
    transition: transform 0.3s ease;
}
/*Fin Sección 5 Proyectos*/

/* Sección 6 Formación */
.formationCard{
    width: 303px;
    height: 500px;
    background-color: var(--negro);
    border-radius: 20px;
    position: relative;
    bottom: 150px;
    border: 1px solid var(--gris);
    transition: scale 0.25s ease-in,
                opacity 0.25s ease-in,
                filter 0.25s ease-in;

    &:hover{
        scale: 1;
    }
}

.logoImage{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.logoImage2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.formationDetails{
    background-color: var(--gris);
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    box-shadow: 0px -2px 1px var(--blanco);
}

.formationDetails h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: var(--blanco);
    padding: 30px 0px 0px 10px;
}

.formationDetails h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: var(--blanco);
    padding: 20px 0px 0px 10px;
}

.formationDetails p{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: var(--verde);
    padding: 30px 0px 0px 10px;
}

.lenguajes{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: var(--verde);
    padding: 30px 0px 0px 10px;
    line-height: 1.5em;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
}

.tags span{
    background-color: var(--negro);
    border: 1px solid var(--verde);
    border-radius: 5px;
    color: var(--blanco);
    padding: 5px;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}

.formationCardMiddle{
    width: 303px;
    height: 540px;
    background-color: var(--negro);
    border-radius: 20px;
    position: relative;
    bottom: 150px;
    border: 1px solid var(--gris);
    transition: scale 0.25s ease-in,
                opacity 0.25s ease-in,
                filter 0.25s ease-in;

    &:hover{
        scale: 1;
    }
}

.formationCard:has(.formationCard:hover), .formationCard:not(:hover){
    scale: 0.9;
    opacity: 1;
    filter: blur(2px);
}

.formationCardMiddle:has(.formationCardMiddle:hover), .formationCardMiddle:not(:hover){
    scale: 0.9;
    opacity: 1;
    filter: blur(2px);
}
/* Fin Sección 6 Formación*/

/*Sección 7 Contacto*/
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: var(--blanco);
    margin: 40px;
    text-align: center;
}

form{
    background-color: var(--gris);
    border-radius: 20px;
    padding: 30px 35px;
    text-align: center;
    width: 303px;
    margin: 10px;
}

.input-gruop{
    display: flex;
    flex-direction: column;
    text-align: left;
}

form h2{
    color: var(--verde);
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
}

label{
    color: var(--blanco);
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

input, textarea{
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: var(--negro);
    border: 1px solid var(--verde);
    color: var(--blanco);
    font-family: 'Poppins', sans-serif;
}

.btn{
    background-color: var(--verde);
    color: var(--negro);
    font-weight: 600;
    font-size: 1em;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid var(--blanco);
}

.btn:hover{
    background-color: var(--negro);
    color: var(--blanco);
    border: 1px solid var(--verde);
}
/*Fin Sección 7 Contacto*/

/*Sección 8 Footer*/
footer{
    width: 100%;
    height: auto;
    background-color: var(--gris);
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin-top: 50px;
}

.rodaPie{
    flex-direction: column;
    align-items: center;
}

.quotes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotes h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    margin-top: 50px;
    color: var(--blanco);
    text-align: center;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px;
}

svg{
    fill: var(--verde);
}

svg:hover{
    fill: var(--negro);
}

footer p{
    color: var(--blanco);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-align: center;
}

#mensaje-error{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: var(--rojo);
    text-align: center;
    margin-bottom: 10px;
}

#mensaje-error-email{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: var(--rojo);
    text-align: center;
    margin-bottom: 10px;
}

#mensaje-error-asunto{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: var(--rojo);
    text-align: center;
    margin-bottom: 10px;
}

#mensaje-error-textarea{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: var(--rojo);
    text-align: center;
    margin-bottom: 20px;
}
/*Fin Sección 8 Footer*/

/*Edición de ScrollBar*/
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--negro);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background: var(--verde);
    border-radius: 50px;
}